/* Add your own CSS rules here */
h1 {
  text-align: center;
}
{
  font-family: "Arial";
}
p
{
  text-align: center;
}{
  font-family: "Arial";
}
g[class='note'] {
  color: red;
}
{
 background-color: #ffffb3;
}
.highlighted {
  fill: blue
}

#controls {
  float: right;
}
