/* Add your own CSS rules here */
h1 {
  text-align: center;
}
p {
  font-family: "Arial";
}
g[class='note'] {
  color: red;
}
{
 background-color: #ffe6ff;
}
.highlighted {
  fill: blue
}

#controls {
  float: right;
}
