/* Add your own CSS rules here */
body{
  font-family: Arial, Helvetica, sans-serif;
}
body {
 background-color: #DCF4F5;
}
h1 {
  text-align: center;
}

p
{
  text-align: center;
}


g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}
th, td {
  padding: 15px;
}
